.nav img {
  object-fit: contain;
}

#banner {
  background: url('./image/Ellipse\ 5.png') no-repeat 0 0;
  height: 60vh;
}

* {
  margin: 0;
  padding: 0;
}

#header_pic {
  background: url('./image/slider1.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}
